<% @tweets.each do |tweet| %>
  <section class="section">
    <div class="container">
      <div class='content'>
        <header class="card-header text-is-offset-one-quarter">
          <h1><strong><%= tweet.title %> </strong></h1>
        </header>
      </div>
      <div class="container">
        <div class="content">
          <footer class="card-footer">
            <%= link_to 'Show', tweet_path(tweet.id), class: "card-footer-item button is-primary"%>
            <%= link_to "Edit", edit_tweet_path(tweet), class: "card-footer-item button is-primary" %>
            <%= link_to "Delete", tweet_path(tweet), method: :delete, data: { confirm: "Are you sure you want to delete this article?"}, class: "card-footer-item button is-primary" %>
          </footer>
        </div>
      </div>
    </div>
  </section>
<% end %>
