<nav class="navbar-menu is-active">
  <div class='navbar-start'>
    <%= link_to "New Tweet", new_tweet_path, class: "button is-primary has-text-weight-bold"%>
  </div>

  <div class='navbar-end'>
    <%= link_to "Comments", root_path, class: "button is-primary has-text-weight-bold" %>
  </div>
</nav>